* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Montserrat",sans-serif;
    font-style: normal;
    line-height: 1;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: #ebebeb;
}

a {
    text-decoration: none;
    color: inherit;
}



@media screen and (min-width: 1024px) {
    /* bagian CS-Wa */
    .cs-wa {
        position: fixed;
        border: 3px solid #1cb800;
        background-color: #1ec501;
        box-sizing: border-box;
        border-radius: 30px;
        width: 165px;
        height: 45px;
        z-index: 999;
        bottom: 30px;
        right: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.7);
    }

    .cs-wa:hover {
        cursor: pointer;
    }

    .cs-wa img {
        width: 35px;
        filter: invert();
        -webkit-filter: invert();
    }

    .cs-wa p {
        font-size: 19px;
        font-family: Arial, Helvetica, sans-serif;
    }



    /* bagian cs-ig */
    .cs-ig {
        opacity: 0;
        position: fixed;
        box-sizing: border-box;
        width: 45px;
        z-index: 996;
        bottom: 30px;
        right: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: black;
        transition: 1s ease;
    }

    .cs-ig img {
        width: 46px;
    }

    .cs-ig.h-cs-ig {
        bottom: 140px;
        transition: 1s ease;
        opacity: 1;
    }



    /* bagian cs-fb */
    .cs-fb {
        opacity: 0;
        position: fixed;
        box-sizing: border-box;
        width: 45px;
        z-index: 996;
        bottom: 30px;
        right: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: black;
        transition: 1s ease;
    }   

    .cs-fb img {
        width: 38px;
    }

    .cs-fb.h-cs-fb {
        bottom: 90px;
        transition: 1s ease;
        opacity: 1;
    }







    /* bagian header */
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #121f2f; 
        z-index: 1000;
    }

    .container-nav {
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 64%;
    }

    .container-nav img {
        width: 70px;
        margin: 15px 10px;
    }

    .container-nav ul {
        display: flex;
        text-decoration: none;
        font-size: 19px;
        list-style: none;
        gap: 60px;
        margin: auto;
    }

    .container-nav ul a:hover {
        color: rgb(255, 0, 0);
        transition: 0.4s;
    }

    .langdiv {
        display: flex;
        margin: auto;
        gap: 5px;
    }

    .indo:hover,.eng:hover{
        cursor: pointer;
    }






    /* bagian main */
    main {
        overflow: hidden;
        color: black;
        padding: 0;
        margin: 0;
    }

    main section{
        /* height: auto; */
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
        box-shadow: 5px #000000;
        position: relative;
    }

    main section * {
        padding: 20px;
    }



    /* bagian home */
    main section.home {
        width: 100%;
        /* height: 642px; */
        height: min-content;
        /* padding: 0; */
        margin-top: 83px;
        /* z-index: 1; */
    }
    
    .home img {
        width: 100%;
        margin: 0;
        padding: 0;
        animation: fade-home 2s;
        -webkit-animation: fade-home 2s;
    }

    @keyframes fade-home {
        0% {
            opacity: 0.5;
            transition: 2s ease;
            }
        100% {
            opacity: 1;
            transition: 2s ease;
        }
    }

    ul.array-gambar-promotion {
        list-style: none;
        margin: auto;
        width: 100px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 6px;
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
}

    ul.array-gambar-promotion li {
        width: 10px;
        height: 10px;
        background-color: black;
        opacity: 0.7;
        border: 3px solid white;
        border-radius: 50%;
        box-sizing: border-box;
    }

    ul.array-gambar-promotion li.warnaHitam-pPictures {
        background-color: white;
        border: 3px solid rgba(168, 9, 9, 0.838);
        opacity: 1;
    }

    ul.array-gambar-promotion li:hover {
        background-color: white;
        border: 3px solid rgb(213, 149, 29);
        opacity: 1;
        cursor: pointer;
    }

    ul.array-gambar-promotion li.warnaHitam-pPictures:hover {
        background-color: white;
        border: 3px solid rgb(213, 149, 29);
        opacity: 1;
        cursor: pointer;
    }





    
    
    /* bagian about */
    .about {
        margin-top: -3px;
    }

    section .container-about {
        padding: 0;
        box-sizing: border-box;
    }

    .container-about .about2 {
        background-image: url(img/bg_layanan3.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .container-about .layanan {
        padding: 0px 20px 20px 20px;
        margin-top: 0px;
        height: 120px;
        display: flex;
        justify-content: center;
        /* color: white; */
    }

    .slideshow1-container {
        position: relative;
        max-width: 63%;
        margin: auto;
        overflow: hidden;
    }
    
    .parentslide {
        display: flex;
        transition: transform 0.5s ease-in-out;
        gap: 20px;
    }

    .mySlides {
        flex: 0 0 33.333%;
        /*default3slide*/max-width: 33.333%;
        padding: 15px 10px 10px 10px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
    }

    .first {
        flex: 0 0 33.333%;
        /*default3slide*/max-width: 33.333%;
        padding: 15px 10px 10px 10px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
    }

    .img-layanan {
        width: 50px;
        height: 50px;
        border-radius: 11px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0px;
        transform: translateX(16px);
    }

    .img-layanan.merah {
        background-color: lightcoral;
    }
    .img-layanan.hijau {
        background-color: lightgreen;
    }
    .img-layanan.biru {
        background-color: lightblue;
    }
    
    .mySlides img {
        width: 70px;
        object-fit: cover;
    }

    .mySlides h3 {
        font-size: 14px;
        text-align: left;
    }
    
    .text-layanan {
        margin: -23px 0 0 0;
        font-size: 13px;
        text-align: left;
    }
    
    .prev,
    .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 24px;
        font-weight: bold;
        padding: 16px;
        cursor: pointer;
        user-select: none;
        z-index: 10;
    }
    
    .prev {
        left: 0;
        border-radius: 0 5px 5px 0;
    }
    
    .next {
        right: 0;
        border-radius: 5px 0 0 5px;
    }
    
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8); }

    .text {
        color: #000000;
        border-radius: 10px;
        font-size: 15px;
        padding: 8px 12px;
        text-align: justify;
    }

    @keyframes fade {
    from {
        opacity: .8;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    }


    /* layanan digital */
    .layanan-digital {
        background-color: rgb(240, 240, 240);
        padding: 0px 20px 30px 20px;
        position: relative;
        height: 520px;
    }

    .layanan-digital .h2, .layanan-digital .p {
        color: white;
    }
    
    .layanan-digital .p {
        margin-top: -15px;
    }

    .layanan-digital  h2 , .layanan-digital p {
        z-index: 20;
        position: relative;
    }

    .layanan-digital .isi {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .isilayanan {
        text-align: left;
        display: inline-block;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
        width: 500px;
        height: 320px;
        border-radius: 20px;
        box-sizing: border-box;
        position: relative;
        padding: 10px;
        /* background-color: white; */
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        transition: 1s ease;
        z-index: 10;
        color: white;
    }

    .isilayanan.reveal.active:hover {
        scale: 1.1;
        transition: .5s ease;
    }

    .isilayanan div {
        width: 100%;
        height: 350px;
        text-align: left;
        padding: 0px;
        z-index: 10;
    }

    .isilayanan div p {
        line-height: 25px;
        padding: 10px;
    }

    .isilayanan div .anchor {
        width: 200px;
        height: 40px;
        /* margin: 60px 37px 0 0; */
        margin: 30px 37px 0 10px;
        text-align: left;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(31,231,104);
        background: linear-gradient(90deg, rgba(31,231,104,1) 0%, rgba(43,235,104,1) 15%, rgba(73,255,149,1) 58%, rgba(140, 255, 73, 0.724) 80%);
        box-shadow: 0px 0px 13px rgba(255,0,0, 1);
    }       

    .isilayanan div .anchor2 {
        width: 200px;
        height: 40px;
        /* margin: 35px 37px 0 0; */
        margin: 30px 37px 0 10px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(31,231,104);
        background: linear-gradient(90deg, rgba(31,231,104,1) 0%, rgba(43,235,104,1) 15%, rgba(73,255,149,1) 58%, rgba(140, 255, 73, 0.724) 80%);
        box-shadow: 0px 0px 13px rgba(255,0,0, 1);
        transition: .5s ease;
    }

    .isilayanan div .anchor:hover, .isilayanan div .anchor2:hover {
        transition: .5s ease;
        box-shadow: 0px 0px 15px rgba(0,255,0,1);
    }

    .isilayanan div div {
        width:200px;
        height: 220px;
        float: right; 
        margin: 10px;
        font-weight: bold;
        color: white;
    }

    .isilayanan img {
        width: 300px;
        height: 260px;
        position: absolute;
        bottom: 0px;
        right: -55px;
    }
    
    .isiL {
        margin-right: 90px;
    }

    .layanan-digital .gelombang1 {
        width: 102%;
        z-index: 9;
        padding: 0;
        position: absolute;
        bottom: 0px;
        left: 0;
    }

    .layanan-digital .gelombang2 {
        width: 129%;
        z-index: 0;
        padding: 0;
        position: absolute;
        top: -10px;
        left: 0;
    }
    




    /* services */
    .services {
        width: 100%;
        padding: 20px 10px 10px 0;
        box-sizing: border-box;
    }

    .services h1 {
        position: relative;
        z-index: 31;
        margin-top: 5px;
    }

    .services .servicetype {
        width: 90%;
        margin: 20px auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        background-color: #121f2f;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
    }

    .appdiv, .webdiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border-radius: 15px; */
}

    .appdiv {
        position: relative;
        z-index: 21;
        text-align: right;
    }

    .webdiv {
        position: relative;
        z-index: 30;
        text-align: left;
    }

    .services img {
        width: 550px;
        border-radius: 15px;
        padding: 0;
}

    .servicetype h3 {
        font-size: 30px;
        /* color: rgb(255, 255, 255);*/
        color: red;
        font-family: "Tiktok Sans",sans-serif;
        font-style: normal;
    }

    .servicetype p {
        font-size: 25px;
        color: white;
        line-height: 40px;
    }

    .servicetype span {
        color: black;
        background-color: rgb(0, 255, 179);
        padding: 1px 4px;
    }

    .servicetype .anchorS, .servicetype .anchorS2 {
        width: 250px;
        height: 40px;
        margin: 50px auto;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(31,231,104);
        background: linear-gradient(90deg, rgba(31,231,104,1) 0%, rgba(43,235,104,1) 15%, rgba(73,255,149,1) 58%, rgba(140, 255, 73, 0.724) 80%);
        box-shadow: 0px 0px 13px rgba(255,0,0, 1);
        transition: .5s ease;
    }

    .servicetype .anchorS:hover, .servicetype .anchorS2:hover {
        transition: .5s ease;
        box-shadow: 0px 0px 15px rgba(0,255,0,1);
    }







    /* testimoni */
    .testimoni2 {
        background-image: url(img/bg_testimoni3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        color: black;
    }

    .testimonicontent {
        width: auto;
        display: flex;
        border-radius: 10px;
        transition: 1s ease-in-out;
        position: relative;
}


    .isitest {
        width: 100%;
        display:flex;
        flex-direction: row;
        text-align: left;
        height: 240px;
        margin-right: 20px;
        flex: 0 0 100%;
        animation: testimonitrans 2s;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        box-sizing: border-box;
        backdrop-filter: blur(10px);
}

    .isitest div * {
        padding: 3px 0;
    }

    .testimonicontent .gambar {
        width: 150px;
        padding: 0;
        border-radius: 10px;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
}

    .testimonicontent .komentar {
        width: 100%;
        margin-top: 10px;
    }

    .testimonicontent p {
        font-size: 19px;
        font-style:italic;
        text-transform: capitalize;
        color: white;
        word-wrap: break-word;
    }

    .testimonicontent span {
        font-weight: bold;
    }

    .testimonicontent h4 {
        color: rgb(255, 0, 0);
    }

    .testimonicontent h5 {
        font-size: 20px;
    }

    .testimonicontent a {
        font-style: italic;
        color: black;
    }

    .testimonicontent a:hover {
        color: rgb(255, 223, 45);
    }    

    .navtesti {
        width: fit-content;
        display: flex;
        margin: 0 47%;
    }

    .navtesti * {
        display: inline;
        cursor: pointer;
    }

    .navtesti div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;
        background-color: #4f4f4f;
        color: white;
        padding: 0;
        width: 30px;
        height: 30px;
        margin: 5px;
        border-radius: 50%;
    }

    .navtesti div:hover {
        opacity: 0.5;
    }

    @keyframes testimonitrans {
        0% {
            transform: translateX(1000px);
            transform: scale(.3);
        }
        100% {
            transform: translateX(0);
            transform: scale(1);
        }
    }




    



    footer {
        width: 100%;
        height: 340px;
        background-color: #121f2f;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer h4 {
        color: red;
    } 

    footer *{
        padding: 20px;
    }

    footer .about-footer {
        width: 35%;
    }
    
    footer .about-footer .lineH {
        line-height: 18px;
    }

    footer .about-footer span {
        color: red;
        padding: 0;
    }
    
    footer .logososmed {
        width: 30%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .logososmed div {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    footer .logososmed a {
        padding: 0;
    }

    footer img {
        width: 45px;
        margin: 0;
        padding: 0;
        filter: invert();
    }

    .twitter {
        width: 37px;
        margin: 10px;
    }

    .email {
        width: 36px;
        margin: 10px;
    }




    footer .location {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .location iframe {
        width: 90%;
        height: 90%;
        padding: 0;
    }

}




@media screen and (min-width: 1024px) and (max-width: 1184px) {
        .isilayanan h1 {
            padding: 10px;
        }

        .isilayanan div .anchor {
            width: 33%;
            height: 40px;
            margin: 15px 37px 0 0px;
            padding: 0;
            text-align: left;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(31,231,104);
            background: linear-gradient(90deg, rgba(31,231,104,1) 0%, rgba(43,235,104,1) 15%, rgba(73,255,149,1) 58%, rgba(140, 255, 73, 0.724) 80%);
            box-shadow: 0px 0px 13px rgba(255,0,0, 1);
        }       

        .isilayanan div .anchor2 {
            width: 33%;
            height: 40px;
            margin: 15px 37px 0 0px;
            padding: 0;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgb(31,231,104);
            background: linear-gradient(90deg, rgba(31,231,104,1) 0%, rgba(43,235,104,1) 15%, rgba(73,255,149,1) 58%, rgba(140, 255, 73, 0.724) 80%);
            box-shadow: 0px 0px 13px rgba(255,0,0, 1);
            transition: .5s ease;   
        }

        .anchor a, .anchor2 a {
            font-size: 12px;
            padding: 0;
        }
}