/* bagian animasi layanan */
.isiL.reveal {
    opacity: 0;
    transform: translateX(-400px);
    transition: 3s ease;
}

.isiL2.reveal {
    opacity: 0;
    transform: translateX(400px);
    transition: 3s ease;
}

.isiL.reveal.active, .isiL2.reveal.active {
    opacity: 1;
    transform: translateX(0);
}





/* bagian services */
.webdiv.reveal {
    opacity: 0;
    transform: translateY(-500px);
    transition: 2s ease;
}

.appdiv.reveal {
    opacity: 0;
    transform: translateY(-150px);
    transition: 1s ease;
}

.appdiv.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.webdiv.reveal.active {
    opacity: 1;
    transform: translateY(0);
}