* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Montserrat",sans-serif;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    color: white;
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 1024px) {
    /* bagian CS-Wa */
    .cs-wa {
        position: fixed;
        border: 3px solid #1cb800;
        background-color: #1ec501;
        box-sizing: border-box;
        border-radius: 30px;
        width: 165px;
        height: 45px;
        z-index: 999;
        bottom: 30px;
        right: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.7);
    }

    .cs-wa:hover {
        cursor: pointer;
    }

    .cs-wa img {
        width: 35px;
        filter: invert();
        -webkit-filter: invert();
}

    .cs-wa p {
        font-size: 19px;
        font-family: Arial, Helvetica, sans-serif;
    }



    /* bagian cs-ig */
    .cs-ig {
        opacity: 0;
        position: fixed;
        box-sizing: border-box;
        width: 45px;
        z-index: 996;
        bottom: 30px;
        right: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: black;
        transition: 1s ease;
    }

    .cs-ig img {
        width: 46px;
    }

    .cs-ig.h-cs-ig {
        bottom: 140px;
        transition: 1s ease;
        opacity: 1;
}



    /* bagian cs-fb */
    .cs-fb {
        opacity: 0;
        position: fixed;
        box-sizing: border-box;
        width: 45px;
        z-index: 996;
        bottom: 30px;
        right: 15px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: black;
        transition: 1s ease;
}   

    .cs-fb img {
        width: 38px;
    }

    .cs-fb.h-cs-fb {
        bottom: 90px;
        transition: 1s ease;
        opacity: 1;
        -webkit-transition: 1s ease;
        -moz-transition: 1s ease;
        -ms-transition: 1s ease;
        -o-transition: 1s ease;
}


    /* bagian header */
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #121f2f; 
        z-index: 1000;
    }

    .container-nav {
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 64%;
    }

    .container-nav img {
        width: 70px;
        margin: 15px 10px;
    }

    .container-nav ul {
        display: flex;
        text-decoration: none;
        font-size: 19px;
        list-style: none;
        gap: 60px;
        margin: auto;
    }

    .container-nav ul a:hover {
        color: rgb(255, 0, 0);
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
}

    .langdiv {
        display: flex;
        margin: auto;
        gap: 5px;
    }

    .indo:hover,.eng:hover{
        cursor: pointer;
    }






    /* bagian main */
    
    main {
        overflow: hidden;
        /* background-color: #080d14; */
        color: black;
        padding: 0;
        margin: 0;
    }

    main section{
        height: auto;
        /* border: 2px solid black; */
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
        box-shadow: 5px #000000;
        position: relative;
    }

    .home {
        padding-top: 78px;
    }

    main section * {
        padding: 20px;
    }



    /* bagian home */
    main section.home {
        width: 100%;
        padding: 0;
        /* height: 739px; */
        margin-top: 83px;
        box-sizing: border-box;
        position: relative;
    }
    
    .home img {
        /* position: absolut */
        width: 100%;
        padding: 0;
        animation: fade-home 2s;
        -webkit-animation: fade-home 2s;
    }

    @keyframes fade-home {
        0% {
            opacity: 0.5;
            transition: 2s ease;
            -webkit-transition: 2s ease;
            -moz-transition: 2s ease;
            -ms-transition: 2s ease;
            -o-transition: 2s ease;
            }
        100% {
            opacity: 1;
            transition: 2s ease;
        }
    }

    ul.array-gambar-promotion {
        list-style: none;
        margin: auto;
        width: 100px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 6px;
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
}

    ul.array-gambar-promotion li {
        width: 10px;
        height: 10px;
        background-color: black;
        opacity: 0.7;
        border: 3px solid white;
        border-radius: 50%;
        box-sizing: border-box;
    }

    ul.array-gambar-promotion li.warnaHitam-pPictures {
        background-color: white;
        border: 3px solid rgba(168, 9, 9, 0.838);
        opacity: 1;
    }

    ul.array-gambar-promotion li:hover {
        background-color: white;
        /* border: 3px solid #16519a; */
        border: 3px solid rgb(213, 149, 29);
        opacity: 1;
        cursor: pointer;
    }

    ul.array-gambar-promotion li.warnaHitam-pPictures:hover {
        background-color: white;
        /* border: 3px solid #16519a; */
        border: 3px solid rgb(213, 149, 29);
        opacity: 1;
        cursor: pointer;
    }


    
    /* bagian about */
    section .container-about {
        /* padding: 0 15px 15px 15px; */
        padding: 0;
        /* border: 5px solid red; */
        box-sizing: border-box;
        /* background-color: rgb(213, 213, 213); */
    }

    .about2 {
        border-bottom: 5px solid white;
        /* background-color: rgb(213, 213, 213); */
    }

    .container-about .layanan {
        padding: 0px 20px 20px 20px;
        margin-top: 0px;
        height: 120px;
        display: flex;
        justify-content: center;
    }

    .slideshow1-container {
        position: relative;
        max-width: 63%;
        margin: auto;
        overflow: hidden;
        /* background-color: #111; */
    }
    
    .parentslide {
        display: flex;
        /* padding: 20px 20px 20px 0px; */
        transition: transform 0.5s ease-in-out;
        gap: 20px;
    }

    .mySlides {
        flex: 0 0 33.333%;
        /*default3slide*/max-width: 33.333%;
        padding: 15px 10px 10px 10px;
        border: 1px solid black;
        border-radius: 15px;
    }

    .first {
        flex: 0 0 33.333%;
        /*default3slide*/max-width: 33.333%;
        padding: 15px 10px 10px 10px;
        border: 1px solid black;
        border-radius: 15px;
    }

    .img-layanan {
        width: 50px;
        height: 50px;
        border-radius: 11px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0px;
        transform: translateX(16px);
}

    .img-layanan.merah {
        background-color: lightcoral;
    }
    .img-layanan.hijau {
        background-color: lightgreen;
    }
    .img-layanan.biru {
        background-color: lightblue;
    }
    
        .mySlides img {
            width: 70px;
            object-fit: cover;
}

    .mySlides h3 {
        font-size: 14px;
        text-align: left;
    }
    
        .text-layanan {
            /* padding: 1px; */
            margin: -23px 0 0 0;
            font-size: 13px;
            text-align: left;
        }
    
        .prev,
        .next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            font-size: 24px;
            font-weight: bold;
            padding: 16px;
            cursor: pointer;
            user-select: none;
            z-index: 10;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
}
    
        .prev {
            left: 0;
            border-radius: 0 5px 5px 0;
        }
    
        .next {
            right: 0;
            border-radius: 5px 0 0 5px;
        }
    
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8); }

    .text {
    color: #000000;
    border-radius: 10px;
    font-size: 15px;
    padding: 8px 12px;
    text-align: justify;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

    @keyframes fade {
    from {
        opacity: .8;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    }


    /* layanan digital */
    .layanan-digital {
        background-color: white;
        padding: 0px 20px 30px 20px;
        position: relative;
        height: 520px;
    }

    .layanan-digital  h2 , .layanan-digital p {
        z-index: 20;
        position: relative;
    }

    .layanan-digital .isi {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .isilayanan {
        text-align: left;
        display: inline-block;
        /*border: black solid 1px;
        */box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
        width: 500px;
        height: 320px;
        /*height: 350px;
        */border-radius: 20px;
        box-sizing: border-box;
        position: relative;
        padding: 10px;
        background-color: white;
        transition: 1s ease;
        z-index: 10;
}

    .isilayanan:hover {
        scale: 1.1;
        transition: .5s ease;
}

    .isilayanan div {
        width: 100%;
        height: 350px;
        text-align: left;
        padding: 0px;
        z-index: 10;
    }

    .isilayanan div .anchor {
        width: 200px;
        height: 40px;
        margin: 60px 37px 0 0;
        text-align: left;
        border: 1px solid black;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
}

    .isilayanan div .anchor2 {
        /*margin-right: 50px;
        */width: 200px;
        height: 40px;
        margin:  45px 37px 0 0;
        border: 1px solid black;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
}

    .isilayanan div div {
        width:200px;
        height: 220px;
        float: right; 
        margin: 10px;
    }

    .isilayanan img {
        width: 300px;
        height: 260px;
        /*float: right;*/
        position: absolute;
        bottom: 0px;
        right: -55px;
    }
    
    .isiL {
        margin-right: 90px;
    }

    .layanan-digital .gelombang1 {
        width: 102%;
        z-index: 9;
        padding: 0;
        position: absolute;
        bottom: 0px;
        left: 0;
        /* margin-bottom: 1000px; */
    }

    .layanan-digital .gelombang2 {
        width: 102%;
        z-index: 0;
        padding: 0;
        position: absolute;
        top: -10px;
        left: 0;
        /* margin-bottom: 1000px; */
    }
    



    /* services */







    /* testimoni */
    .isitest {
        display:flex;
        flex-direction: row;
        text-align: left;
        height: 200px;
    }

    .isitest div * {
        padding: 5px 0;
    }

    .testimonicontent img {
        border:black solid 2px;
    }

    .navtesti {
        width: fit-content;
        float: right;
    }

    .navtesti * {
        display: inline;
        cursor: pointer;
    }




    footer {
        
    }
} 