* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 1024px) {

    /* bagian header */
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #121f2f; 
        z-index: 1000;
    }

    .container-nav {
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 75%;
    }

    .container-nav img {
        width: 130px;
        margin: 19px;
    }

    .container-nav ul {
        display: flex;
        text-decoration: none;
        font-size: 22px;
        list-style: none;
        gap: 50px;
        margin: auto;
    }

    .langdiv {
        display: flex;
        margin: auto;
        gap: 5px;
    }






    /* bagian main */
    
    main {
        overflow: hidden;
        /* background-color: #080d14; */
        color: black;
    }

    main section {
        height: 730px;
        padding-top: 78px;
        border: 2px solid black;
        box-sizing: border-box;
        overflow: hidden;
    }

    main section * {
        padding: 20px;
    }

    /* bagian home */

    .slide-area {
        /* margin: 100px auto; */
        margin: 1% auto;    
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);
        border-radius: 10px;
        height: 90%;
        width: 90%;
    }

    .slide-card {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .slide-card a img {
        height: 65%;
        border-radius: 30px;
        /* margin: -4.3% 3%; */
    }

    .slide-area img.slide-btn {
        width: 3%;
        position: relative;
        z-index: 10;
    }

    .slide-area img.slide-btn:hover {
        filter: drop-shadow(0 0 20px var(--basecolor));
    }

    .slide-area .left {
        top: 45%;
        /* left: 2%; */
    }

    .slide-area .right {
        top: 45%;
        /* left: 85%; */
    }


}